
/* Nav Bar*/
nav {
    background-color: #f2f2f2; 
    padding: 10px; 
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline; 
    margin-right: 20px; 
  }
  
  nav ul li a {
    text-decoration: none; 
    color: #444444; 
    font-weight: normal; 
  }
  
  nav ul li a:hover {
    color: blue; 
  }

/* h1 */
h1 {
    font-family: Helvetica, Arial, sans-serif; 
    font-size: xx-large; 
    color: black; 
    text-align: center; 
    margin-top: 50px; 
    margin-bottom: 50px; 
}

/* team */
#team {
    background-color: #f9f9f9; 
    padding: 50px; 
    display: flex;
    /* grid-template-columns: auto auto;
    grid-template-rows: auto auto; */
    justify-content: space-between;
    margin-right: 100px;
  }

  #team h2 {
    color: #333; 
    text-align: center; 
  }
  
  /* team members */
  .team-member {
    margin-bottom: 20px; 
  }
  
  /* team member names */
  .team-member h3 {
    color: #555; 
  }

  /* h2 */
  h2 {
    font-size: large;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.5; 
    margin-top: 20px; 
    margin-bottom: 20px;
    text-align: center;
}

/* p */
p {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}

body {
    margin: 20px; 
}

/* hide paragraphs for js */
main section .content-container {
  display: none;
}

main section .content-container.expanded {
  display: block;
}

main section h2:hover{
  cursor: pointer;
  text-decoration: underline;
}

/* img size*/
img {
  max-width: 100%;
  height: auto;
}




    
   

