/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header Styles */
.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #881c1c;
    padding: 10px;
}

.main-nav {
    background-color: #f1f3f6;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.main-nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: bold;
}

.logo {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.search-bar input[type="text"] {
    padding: 10px;
    margin-right: 10px;
    font-size: 15px;
    height: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.search-bar button {
    padding: 10px 20px;
    background-color: #fb641b;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
    font-size: 18px;
}

/* Main Content Styles */
.banner, .deals {
    margin: 20px;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .main-nav a {
        font-size: 14px;
    }

    .logo {
        font-size: 20px;
    }

    .search-bar input[type="text"] {
        font-size: 14px;
        height: 35px;
    }

    .search-bar button {
        padding: 8px 15px;
        font-size: 14px;
    }

    .nav-links a {
        font-size: 14px;
    }
}
